.home {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.747), rgba(0, 0, 0, 0.808)),
    url("../../../public/img/bank.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-color: pink;
  .homeContainer {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    .left {
      flex: 2;
      // background-color: blue;
      display: flex;
      align-items: center;
      margin-left: 60px;
      .leftContent {
        display: flex;
        flex-direction: column;
        gap: 30px;
        .title {
          margin-bottom: 40px;
          font-size: 96px;
          font-weight: 300;
          font-family: "Delius", cursive;
          color: white;
        }
        .text {
          line-height: 30px;
          color: white;
        }
        .buttonContainer {
          display: flex;
          width: 86%;
          height: 100%;
          // justify-content: flex-end;

          .homeButton {
            width: 120px;
            height: 40px;
            background-color: crimson;
            border: none;
            color: white;
            border-radius: 30px;
            justify-content: flex-end;
            cursor: pointer;
          }
        }
      }
    }
    .right {
      flex: 1;
      // background-color: red;
    }
  }
}
